body {
    background-color: #f7f5f2;
    font-family: cursive;
    text-align: center;
}

.header-about-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background: #e9e9e9;
    border-bottom: 1px dotted #d9dada;
}

.header-menu-section {
    display: grid;
    border-bottom: 1px dotted #d9dada;
    grid-template-columns: 43% 14% 43%;
}

.header-menu-left {
    justify-self: right;
    margin-right: 20px;
}

.header-menu-right {
    grid-template-columns: auto auto auto;
    display: grid;
    margin-left: 20px;
}

#header-cart {
    justify-self: right;
}

.animated {
    animation: numberCartAnimation 0.2s;
}

@keyframes numberCartAnimation {
    50% {
        color: red;
        font-size: 20px;
    }
    100% {
        color: black;
        font-size: initial;
    }
}

.header-coffee-beans {
    font-size: 20px;
    color: #611205;
    margin-right: 10px;
}

.header-coffee-ground {
    font-size: 20px;
    color: #611205;
    margin-left: 10px;
}

.header-coffee-makers {
    font-size: 20px;
    color: #611205;
    justify-self: left;
}

.header-name {
    font-size: 20px;
    color: darkred;
}

.footer {
    display: grid;
    border-top: solid #d9dada;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    background-color: #f7f5f2;
}

.footer-menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.footer-contacts {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}


/* .footer-aboutUs {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
} */

.product-minus-qty {
    width: 20px;
    font-size: 14px;
    line-height: 38px;
    color: rgba(139, 141, 148, 0.5);
    border: 1px solid;
    border-color: rgba(51, 51, 51, 0.12)
}

.product-plus-qty {
    width: 20px;
    font-size: 14px;
    line-height: 38px;
    color: rgba(139, 141, 148, 0.5);
    border: 1px solid;
    border-color: rgba(51, 51, 51, 0.12)
}

.product-text {
    width: 30px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    border-style: solid;
}

a:link {
    text-decoration: none;
}

.header-link-active {
    color: red;
}

.number-cart {
    text-align: right;
    margin-left: 490px;
}

.text-title {
    font-size: 28px;
    border-bottom: 1px dotted #d9dada;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}