.products-list {
    display: grid;
    grid-template-columns:auto auto auto;
}

.product-container {
    cursor: pointer;
  width: 200px;
  margin-left: 60px;
  /* padding-right: 10px; */
   
}

.content {
    display: grid;
    grid-template-columns: 20% 80%;
}

.filter {
    text-align: left;
}

.button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button:hover {
    background-color: #e4022e;
    color: white;
}

.image {
    width: 200px;
    height: 372px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.text-filter {
    font-size: 20px;
    margin-top: 10px;
}

.coffee-filters {
    display: grid;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
    border-right: 1px solid rgba(51, 51, 51, 0.12);
}
.sorting{
    margin-right: 680px;
}