.coffee-contacts {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    margin-top: 40px;
}

.contact-send {
    margin-top: 90px;
    padding: 10px;
    background-color:  #f3f0f0;
    width: 370px;
    height: 380px;
    margin-left: 50px;

}

.contact-text {
    font-size: 21px;
    margin-bottom: 10px;
    font-family: cursive;

}

.input-name {
    width: 330px;
    height: 30px;
    margin-top: 8px;
    background-color: #f5f4f3;
}

.input-message {
    width: 330px;
    height: 180px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f5f4f3;
}

.networks {
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    background-color:  #f3f0f0;
    margin-right: 90px;
    width: 340px;

}

.text {
    margin-top: 20px;
}

