.coffee-contacts {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    margin-top: 40px;
}

.contact-send {
    margin-top: 50px;
    padding: 10px;
    background-color: #f0eaea;
    width: 370px;
    height: 410px;
}

.contact-text {
    font-size: 21px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-name {
    width: 330px;
    height: 30px;
    margin-top: 8px;
    background-color: #faf6f6;
}

.input-message {
    width: 330px;
    height: 180px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #faf6f6;
}

.networks {
    text-align: left;
    margin-top: 50px;
}

.text {
    margin-top: 20px;
}

.bi bi-geo-alt-fill {
    margin-top: 60px;
}